body {
  background: linear-gradient(96deg, #ff6b6b, #4ecdc4, #45b7d1, #96c93d);
}

div {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}